<p>Hola {{ usuario.usuario }}<p>

<p>Bienvenido a Homefanfics</p>
<p>Su cuenta ha sido creada</p>
<p>Hay miles de escritos para leer y comentar junto a nuestros usuarios</p>

<p>Ingresa a tu cuenta en {{ url('usuarios_login') }}</p>

