{% extends '::base.html.twig' %}
{% block title %}Nuevo Escrito{% endblock %}
{% block body -%}
<form action="{{ path('escrito_crear') }}" method="post" {{ form_enctype(form) }} form="form1">
    {{ tinymce_init() }}
    {{ form_widget(form)}}  
    <p>
        <button type="submit">Ingresar Escrito</button>
    </p>
</form>


{% endblock %}
