{% extends '::base.html.twig' %}
{% block title %}Nuevo Escrito{% endblock %}
{% block body -%}
<form action="{{ path('escrito_crear') }}" method="post" {{ form_enctype(form) }} >
    <div class="hero-unit">
    {{ form_widget(form)}}  
    <p>
        <button class="btn btn-success" type="submit">Ingresar Escrito</button>
    </p>
        </div>
</form>


{% endblock %}
