<h1>Listado de Autores</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Autor</th>
    </tr>
    {% for autor in autores %}
    <tr>
        <td>{{ autor.id }}</td>
        <td>{{ autor.nombre }}</td>
    </tr>
    {% endfor %}
</table>