<form class="form-search navbar-search pull-left" action="{{path('buscar', {'texto': 'Cercanía Lejana' })}}" method="post" >
    <div class="input-append">
        <input type="text" class="span2 search-query"  placeholder="Buscar" id='busqueda'>
        <button type="submit" class="btn"><i class=" icon-search"></i></button>
    </div>
</form>

