{#% extends 'HffBlogBundle::base.html.twig' %#}
{% extends '::base.html.twig' %}
{% block body %}
<select>
    <option value="0">- Seleccionar Categoría -</option>
    <option value="1">TODAS</option>

    {% for categoria in categorias %}
    <option value="{{categoria.id}}">{{categoria.nombre}}</option>
    {% endfor %}
</select>
{% endblock %}
